<form class="footer" name="{{ footerFormName }}">
  <formfields class="footer__wrapper">
    <button class="footer__button footer__button_type_attach" type="button">
      <img class="footer__icon" src="../../../static/icons/attach.svg" alt="Иконка окрытия меню прикрепления файла"/>
    </button>
    <input type="text" class="footer__input" placeholder="Сообщение" name="message" />
    <button class="footer__button footer__button_type_submit" type="submit">
      <img class="footer__icon" src="../../../static/icons/arrow-white-right.svg" alt="Иконка кнопки отправки сообщения"/>
    </button>
  </formfields>
</form>
