<div class="chat">
  {{> chat/chat-header/chat-header
    chatSrc="#"
    chatTitle="Рабочая информация"
    chatHeaderSrc="./static/icons/profile-small.svg"
    chatHeaderAlt="Логотип чата"
  }}
  {{> chat/chat-main/chat-main}}
  {{> chat/chat-footer/chat-footer}}
</div>
