<section class="profile">
  <div class="profile__content">
    <div class="profile__wrapper">
      <div class="profile__image">
        <img class="profile__icon" src="../../../static/icons/profile.svg" alt="иконка профиля" />
      </div>
      <button class="profile__change">Поменять аватар</button>
    </div>
    <form class="profile__form">
      <fieldset class="profile__fieldset">
        <ul class="profile__data profile__data_place_edit">
          {{>profile/input/input
            label="Старый пароль"
            name="oldPassword"
            type="password"
            placeholder="Старый пароль"
            required="true"
            value="1234567" }}
          {{>profile/input/input
            label="Новый пароль"
            name="newPassword"
            type="password"
            placeholder="Новый пароль"
            required="true"
            value="7654321" }}
          {{>profile/input/input
            label="Повторите новый пароль"
            name="newPassword"
            type="password"
            placeholder="Повторите новый пароль"
            required="true"
            value="7654321" }}
        </ul>
        {{> button/button label="Сохранить" }}
      </fieldset>
    </form>
  </div>
</section>
