<div class="container">
  <ul class="days-list">
    {{> chat/chat-main/day-messages/day-messages dayMessengesTitle="Сегодня" }}
    {{> chat/chat-main/day-messages/day-messages dayMessengesTitle="13.02" }}
    {{> chat/chat-main/day-messages/day-messages dayMessengesTitle="13.02" }}
  </ul>
</div>
