<div class="search">
  <div class="search__wrapper">
    <img class="search__icon_type_search" alt="иконка строки поиска" src="../../../static/icons/search.svg"/>
    <form class="search__form">
      <input class="search__input" type="search"  placeholder="Поиск" />
    </form>
  </div>
  <button type="button" title="Создать чат" class="search__button">
    <img class="search__icon_type_add-chart" alt="иконка создания нового чата" src="../../../static/icons/create.svg"/>
  </button>
</div>
