<nav class="aside">
  <a class="aside__link" href="/profile">
    <span class="aside__link-text">В профиль</span>
    <img  alt="иконка перехода в профиль пользователя" class="aside__link-icon" src="./static/icons/arrow-blue-right.svg"/>
  </a>
  {{> aside/search/search }}
  <ul class="chat-list">
    {{> aside/item/item
      chatHref="#"
      chatSrc="#"
      chatTitle="Андрей"
      chatLastMessagePrewiew="Юля! Посмотри уже правки в макете! Можно ли отдавать на доработку?"
      chatLastMessageTime="10:59"
      chatNewMessagesCounter="1"
      messageCounterClass="chat-item__counter"
    }}
    {{> aside/item/item
      chatHref="#"
      chatSrc="#"
      chatTitle="Рабочая информация"
      chatLastMessagePrewiew="Коллеги, завтра собрание"
      chatLastMessageTime="08:15"
      chatNewMessagesCounter=""
      messageCounterClass="chat-item__counter chat-item__counter_type_hidden"
    }}
  </ul>
</nav>
