<nav class="aside">
  <a class="aside__link" href="#">
    <span class="aside__link-text">В профиль</span>
    <img  alt="иконка перехода в профиль пользователя" class="aside__link-icon" src="../../../static/icons/arrow-blue-right.svg"/>
  </a>
  {{> aside/search/search }}
  {{> aside/list/list}}
</nav>
