<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messenger</title>
  <link rel="stylesheet" href="../../index.pcss" />
</head>
<body class="page">
  <main class="page__content">
    <section class="page__section">
      {{> review-navigation/review-navigation-inner }}
    </section>
    <div class="page__wrapper">
      <section class="page__section page__section_type_narrow">
        {{> return/return }}
      </section>
      {{> profile/edit-data }}
    </div>
  </main>
</body>
</html>
