<nav class="review">
  <ul class="review__nav">
   <li class="review__link">
      <a class="review__item" href="../src/components/pages/signin.hbs">Регистрация</a>
    </li>
    <li class="review__link">
      <a class="review__item" href="../src/components/pages/profile.hbs">Профиль</a>
    </li>
    <li class="review__link">
      <a class="review__item" href="../src/components/pages/profile-edit-data.hbs">Изменить данные</a>
    </li>
        <li class="review__link">
      <a class="review__item" href="../src/components/pages/profile-edit-password.hbs">Изменить пароль</a>
    </li>
     <li class="review__link">
      <a class="review__item" href="../src/components/pages/chat-empty.hbs">Чат не выбран</a>
    </li>
    <li class="review__link">
      <a class="review__item" href="../src/components/pages/chat.hbs">Чат</a>
    </li>
    <li class="review__link">
      <a class="review__item" href="../src/components/pages/small-chat-popups.hbs">Попапы</a>
    </li>
     <li class="review__link">
      <a class="review__item" href="../src/components/pages/popup-user.hbs">Добавить пользователя</a>
    </li>
    </li>
     <li class="review__link">
      <a class="review__item" href="../src/components/pages/popup-file.hbs">Загрузить файл</a>
    </li>
    <li class="review__link">
      <a class="review__item" href="../src/components/pages/404.hbs">404</a>
    </li>
    <li class="review__link">
      <a class="review__item" href="../src/components/pages/500.hbs">500</a>
    </li>
    <li class="review__link">
      <a class="review__item" href="/">Логин</a>
    </li>
  </ul>
</nav>
