<div class="chat-header">
  <div class="chat-header__wrapper">
    <div class="chat-header__image">
      <img class="chat-header__logo" src="{{ chatHeaderSrc }}" alt="{{ chatHeaderAlt }}" />
    </div>
    <button class="chat-header__change">Заменить</button>
  </div>
  <h3 class="chat-header__title">{{ chatTitle }}</h3>
  <button class="chat-header__button chat-header__button_type_burger">
    <img class="chat-header__icon" alt="иконка меню-бургера чата" src="../../../static/icons/dots-vertical.svg" />
  </button>
</div>
