<li class="action">
  <button class="action__button">
    <img class="action__icon" src="{{ actionIconSrc }}" alt="{{ actionAlt }}" />
    <p class="action__title">{{ actionName }}</p>
  </button>
</li>
