<div class="popup popup_is_opened">
  <ul class="popup__actions">
    {{> modals/modal_small/action/action
      actionName="Добавить пользователя"
      actionIconSrc="./static/icons/plus.svg"
      actionAlt="Иконка добавления пользователя"
    }}
    {{> modals/modal_small/action/action
      actionName="Удалить пользователя"
      actionIconSrc="./static/icons/remove.svg"
      actionAlt="Иконка удаления пользователя"
    }}
    {{> modals/modal_small/action/action
      actionName="Выйти и удалить чат"
      actionIconSrc="./static/icons/exit.svg"
      actionAlt="Иконка выхода из чата"
    }}
  </ul>
</div>
