<div class="popup popup_is_opened">
  <ul class="popup__actions">
    {{> modals/modal_small/action/action
      actionName="Фото или Видео"
      actionIconSrc="../../../static/icons/photo-or-video.svg"
      actionAlt="Иконка загрузки фото или видео"
    }}
    {{> modals/modal_small/action/action
      actionName="Файл"
      actionIconSrc="../../../static/icons/file.svg"
      actionAlt="Иконка загрузки файла"
    }}
    {{> modals/modal_small/action/action
      actionName="Локация"
      actionIconSrc="../../../static/icons/dot.svg"
      actionAlt="Иконка загрузки локации"
    }}
  </ul>
</div>
